Label {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}

.main {
    -fx-background-color: dodgerblue;
}

.overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.95;
}

.overlay Label {
    -fx-text-fill: white;
}

.overlayBottom {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: white;
    -fx-opacity: 0.95;
}

.overlayBottom > Line, .overlayBottom > Polyline {
    -fx-stroke: white;
    -fx-stroke-width: 8px;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
}